<div class="well" style="min-height:110px;">
  <p>
    Research topics like
    <%= link_to "energy efficiency", "/documents/search?q=energy+efficiency" %>,
    <%= link_to "lyme disease", "/documents/search?q=lyme+disease" %>,
    <%= link_to "road construction", "/documents/search?q=road+construction" %>
    or any other topic of interest that may be covered in these town documents.
  </p>
</div>


<!-- .well
  %p
    Research
    = link_to 'leash law ordinances,', '/documents/search?q=leash+law'
    = link_to 'post pension benefit plans,', '/documents/search?q=pension'
    (OPEB),
    = link_to 'energy savings', '/documents/search?q=energy+savings'
    (ESCO) and other legislative documents like
    = link_to 'Select Board', '/documents/search?q=select+board'
    and
    = link_to 'City Council', '/documents/search?q=city+council'
    = link_to 'meeting minutes,', '/documents/search?q=meeting+minutes'
    = link_to 'agendas,', '/documents/search?q=agenda'
    = link_to 'crime reports.', '/documents/search?q="crime"' -->
