.row
  .span8
    %h3 What is Public Post?
    %p Public Post is a service that allows anyone interested in local Vermont government to stay informed and be alerted about topics of interest. Browse and search documents or set up your own email alerts to track issues around the state.

.row
  .span4
    %h3 States
    %ul
      - for state in @states.sort
        %li
          = link_to state, state_documents_path(state)

  .span4
    %h3 Communities
    %ul
      - for municipality in @municipalities
        %li
          = link_to(municipality.full_name, municipality)
