<footer class="footer">
  <div>
    <%= link_to "Home", root_path %> |
    <%= link_to "Contact", "http://www.vpr.net/inside_vpr/contact_us/?subject=Public+Post" %> |
    <%= link_to "About", "http://digital.vpr.net/people/amy-kolb-noyes" %> |
    <%= link_to "VPR.net", "http://www.vpr.net" %>
  </div>

  <small>
    <i>
      Public Post is supported by the VPR Journalism Fund
    </i>
  </small>
</footer>
